<article class="store span12">
    <div class="row-fluid">
        <div class="span7"><div class="icon"><a href="#store_{ID}"><img src="{SITEURL}/files/store-{ID}.jpg" alt="{NAME}" /></a></div></div>
        <div class="span5">
            <div class="name"><a href="#store_{ID}">{NAME}</a></div>
            <div class="descr">{SHORTDESCR}</div>
            {PRICEOFFER}
            <div class="buycont"><a class="butt" href="#buy_{ID}">Купить</a></div>
        </div>
    </div>
</article>
{BETWEENROW}