<!DOCTYPE html>
<html>
<head>

<title>{TITLE}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="robots" content="index,follow" />
<link href="{SITEURL}/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<link rel="stylesheet" href="{SITEURL}/templates/wnd.css" type="text/css" />
<script type="text/javascript" src="{SITEURL}/templates/jquery.js"></script>
<script type="text/javascript" src="{SITEURL}/templates/javascripts.js" charset="utf-8"></script>
</head>
<body>

<div id="page">
    <div id="header"><span class="close" onclick="window.parent.cw.close();">x</span></div>
    <div id="content">
    <form name="orderform" method="post">
        <div id="inner">
            {TEXT}
        </div>
    </div>
</div>
<script src="{SITEURL}/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>