<div class="span9">
    <div class="topdescr row-fluid">{HOMETOPDESCR}</div>
    {COUNTER}
    {CATEG}
    <div class="clear"></div>
    <div class="row-fluid">
        <div class="span12">
            {GOODS}
        </div>
    </div>
    <div class="bottomdescr row-fluid">{HOMEBOTTOMDESCR}</div>
</div>
<div class="span3">
    <div class="guarantee">
        <img src="images/guarantee.png" alt="" />
        <div class="ttl">Гарантия Возврата</div>
        <div class="descr">Если наш товар Вам не подойдет или не понравится, мы вернем Вам деньги.</div>
    </div>
    {REVIEWS}
</div>