<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="templates/style.css" />
    <script type="text/javascript" src="templates/jquery.js"></script>
	<script type="text/javascript" src="templates/ckeditor/ckeditor/ckeditor.js"></script>
	<script type="text/javascript" src="templates/ckeditor/AjexFileManager/ajex.js"></script>
</head>
<body>
    <div id="page">
        <header id="header">
            <nav id="mainmenu">
                <a href="./">Консоль</a>
                <a href="./?section=stores">Товары</a>
                <a href="./?section=pages">Страницы</a>
                <a href="./?section=orders">Заказы</a>
                <a href="./?section=reviews">Отзывы</a>
                <a href="./?section=options">Настройки</a>
                <a href="./?section=counter">Счетчик</a>
                <a href="../" target="_blank">На сайт</a>
                <a href="./?exit=true">Выход</a>
            </nav>
        </header>
        <div id="content">
            {CONTENT}
        </div>
        <footer id="footer">
            
        </footer>
    </div>
</body>
</html>